	<title>Home Page</title>
</head>
<body>

	<h1>Home Page</h1>

	 <p> Home | <a href="contacts.html">Contacts</a> | <a href="projects/index.html">Projects</a></p>

	 <p>This is the home page.</p>

	 <img src="https://www.nicepng.com/png/detail/375-3751942_homepage-comments-homepage-icon-png.png">

</body>
</html>